<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <!--event catalog_product_load_after -->
  <!--<event name="catalog_product_load_after">
    <observer name="aventi_product_available" instance="Aventi\ManagerPrice\Observer\ProductObserver" />
  </event>-->
  <!--<event name="custom_quote_process">
    <observer name="aventi_product_checkout_observer" instance="Aventi\ManagerPrice\Observer\CheckoutObserver" />
  </event>-->
</config>
