<div class="magenest-popup-step">
    <div class="popup-step-1">
        <div class="popup-content">
            <div class="popup-bg"></div>
            <div class="popup-title">
                <div class="title-elm">Magenest</div>
            </div>
            <div class="popup-description">
                <div class="description-top">Enter your email to download</div>
                <div class="description-center">
                    <p>6 <span>Digital Video Trends For 2019</span></p>
                </div>
                <div class="description-bottom">A free guide on how to stay on top of the new year</div>
            </div>
            <div class="actions">
                <input class="popup-newsletter" type="text" name="name" required placeholder="First name"/>
                <input class="popup-newsletter" type="email" name="lname" required placeholder="Last name">
                <input class="popup-newsletter" type="text" name="company" required placeholder="Company"/>
                <input class="popup-newsletter" type="email" name="job" required placeholder="Job Title">
            </div>
            <div class="actions email">
                <input class="popup-newsletter" type="email" name="email" required placeholder="Enter your e-mail">
                <button id="popup-submit-button" title="Subscribe">
                    <span>Unlock now</span>
                </button>
                <button id="popup-no-submit">
                    <span>I'm not Interested</span>
                </button>
            </div>
        </div>
    </div>
</div>