<div class="magenest-popup-step">
    <div class="popup-step-1">
        <div class="popup-bg"></div>
        <div class="popup-content">
            <div class="popup-title">
                <div class="title-elm">FREE REPORT</div>
                <i class="fa fa-bar-chart">1234</i>
            </div>
            <div class="popup-description">
                <div class="description-top">Leave the guesswork to us, so that you can focus on building your
                    business.
                </div>
            </div>
            <div class="actions">
                <label>Enter your name</label>
                <input class="popup-newsletter" type="email" name="name" required placeholder="name">
                <label>Enter your e-mail</label>
                <input class="popup-newsletter" type="email" name="email" required placeholder="e-mail">
            </div>
            <div class="actions email">
                <input type="checkbox">
                <label>I agree with the Terms & Conditions</label>
                <button id="popup-submit-button" title="Subscribe">
                    <span>Send me the report!</span>
                </button>
            </div>
        </div>
    </div>
</div>