<div class="magenest-popup-step">
    <div class="popup-step-1">
        <div class="popup-bg"></div>
        <div class="popup-content">
            <div class="popup-title">
                <div class="title-elm">Merry Christmas</div>
                <div class="title-elm">Discount 50%</div>
            </div>
            <div class="popup-description">
                <div class="description-bottom">Hurry, sale starts on Fuesday, Dec 24, 2019!</div>
            </div>
        </div>
    </div>
</div>