<div class="magenest-popup-step">
    <div class="popup-content-wrapper">
        <div class="popup-step-1">
            <div class="popup-product-hotdeals">
                <div class="popup-title">
                    <div class="title"><span>HOT</span> DEAL</div>
                    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua
                    </div>
                </div>
                <div class="popup-product">
                    <!-- [ content ]-->
                </div>
            </div>
        </div>
    </div>
</div>