<div class="magenest-popup-step">
    <div class="popup-step-1">
        <div class="popup-content">
            <div class="popup-title">
                <span>ARE YOU READY? GET IT NOW!</span>
            </div>
            <div class="popup-description">
            <span>Vel eros amet amet mauris a habitasse scel erisque?
                Vel urna dis et, placerat phasellus, diam in! Placerat
                nec facilisis, tortor tristique. Arcu placerat sagittis,
                velit lorem scelerisque egestas placerat.</span>
            </div>
            <div class="popup-action">
                <input class="popup-newsletter" type="text" name="name" required placeholder="Enter your name..."/>
                <input class="popup-newsletter" type="email" name="email" required placeholder="Enter your e-mail...">
                <button id="popup-submit-button" title="Subscribe">
                    <strong>Subscribe</strong>
                </button>
            </div>
        </div>
        <p class="or">OR</p>
        <div class="action-social">
            <div class="social-elm social-face">
                <button>
                    <a href="https://www.facebook.com/">
                        <span><i class="fa fa-facebook" aria-hidden="true"><span class="text-label">  Subscribe with Facebook</span> </i></span>
                    </a>
                </button>
            </div>
            <div class="social-elm social-google">
                <button>
                    <a href="https://www.google.com.vn/">
                        <span><i class="fa fa-google-plus-square" aria-hidden="true"><span class="text-label">  Subscribe with Google</span> </i></span>
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>