<div class="magenest-popup-step">
    <div class="popup-step-1">
        <div class="popup-bg"></div>
        <div class="popup-content">
            <div class="popup-title">
                <span> Join the Club</span>
            </div>
            <div class="popup-description">
                <span>Receive latest updates and exclusive promotions on your mail</span>
            </div>
            <div class="popup-action">
                <input class="popup-newsletter" type="text" name="name" required placeholder="Your name here"/>
                <input class="popup-newsletter" type="email" name="email" required placeholder="Your e-mail here">
                <button id="popup-submit-button" title="Subscribe">
                    <strong>Count me in</strong>
                </button>
                <button id="popup-no-submit" title="Subscribe">
                    <strong>Not now,I'm not ready</strong>
                </button>
            </div>
        </div>
    </div>
</div>