<div class="magenest-popup-step">
    <div class="popup-step-1">
        <div class="popup-bg">
            <div class="popup-border">
                <span>border</span>
            </div>
        </div>
        <div class="popup-content">
            <div class="popup-title">
                <p style="text-align: center;">
                <span style="color: #ffffff; font-size: 30px;">DISCOUNT 10%
                    <span style="text-decoration: underline;">OFF<br></span>
                    <span style="color: #19cbfe;">SUBSCRIBE NOW!</span>
                </span>
                </p>
                <p>
                    <span style="color: #ffffff; font-size: 16px;">We handed out <strong>6 719</strong> discount coupons!</span>
                </p>
            </div>
            <div class="popup-action">
                <input class="popup-newsletter" type="email" name="email" required placeholder="Enter Your Email">
                <button id="popup-no-submit">
                    <span>No, thank you!</span>
                </button>
                <button id="popup-submit-button" title="Subscribe">
                    <span>Subscribe Now</span>
                </button>
            </div>
            <p>
                <span style="color: #b3a3c2; font-size: 12px;">This information never be shared to 3rd part companies<br></span>
            </p>
        </div>
    </div>
</div>