<div class="magenest-popup-step">
    <div class="popup-step-1">
        <div class="popup-content">
            <div class="popup-title">
                <p>Subscribe Now</p>
            </div>
            <div class="popup-description">We know how to get local grocery’s <span
                    style="font-weight:700;">freebies</span>!<br>
                Join our free daily newsletter to get special offers and discounts.
            </div>
            <div class="popup-action">
                <input class="popup-newsletter" type="email" name="email" required placeholder="Enter Your Email">
                <button id="popup-submit-button" title="Subscribe">
                    <span>Subscribe</span>
                </button>
            </div>
        </div>
        <div class="popup-bottom">
            <div class="action-social">
                <div class="social-elm social-face">
                    <button>
                        <a href="https://www.facebook.com/">
                            <span><i class="fa fa-facebook" aria-hidden="true"><span class="text-label">facebook</span> </i></span>
                        </a>
                    </button>
                </div>
                <div class="social-elm social-twitter">
                    <button>
                        <a href="https://twitter.com/">
                            <span><i class="fa fa-twitter" aria-hidden="true"><span
                                    class="text-label">twitter</span> </i></span>
                        </a>
                    </button>
                </div>
                <div class="social-elm social-instagram">
                    <button>
                        <a href="https://www.instagram.com/">
                            <span><i class="fa fa-instagram" aria-hidden="true"><span
                                    class="text-label">instagram</span> </i></span>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>