<div class="magenest-popup-step">
    <div class="popup-step-1">
        <div class="popup-bg"></div>
        <div class="popup-content">
            <div class="action-social">
                <span class="line">Like Us!</span>
                <div class="social-elm social-face">
                    <button>
                        <a href="https://www.facebook.com">
                            <i class="fa fa-facebook"><span class="text-label">face</span> </i>
                        </a>
                    </button>
                </div>
                <div class="social-elm social-twitter">
                    <button>
                        <a href="https://twitter.com/?lang=vi">
                            <i class="fa fa-twitter"><span class="text-label">twitter</span></i>
                        </a>
                    </button>
                </div>
                <div class="social-elm social-youtube">
                    <button>
                        <a href="https://www.youtube.com/?gl=VN">
                            <i class="fa fa-youtube"><span class="text-label">youtube</span></i>
                        </a>
                    </button>
                </div>
            </div>
            <div class="popup-title">
                <span>or</span>
            </div>
            <div class="popup-action">
                <div>
                <span class="bld-input-icon">
                    <i class="fa fa-envelope-o"></i>
                </span>
                    <div class="bld-table-cont">
                        <input placeholder="Your e-mail" required="" name="email" value="" class="bld-el  ">
                    </div>
                </div>
                <button id="popup-submit-button" title="Subscribe">
                    <strong>Subscribe now</strong>
                </button>
            </div>
        </div>
    </div>
</div>