<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Block\Adminhtml\SalesOrderViewInfo">
		<plugin disabled="false" name="Aventi_OrderComment_Plugin_Block_Adminhtml_SalesOrderViewInfo" sortOrder="10" type="Aventi\OrderComment\Plugin\Block\Adminhtml\SalesOrderViewInfo"/>
	</type>
	<preference for="Aventi\OrderComment\Api\OrderCommentManagementInterface" type="Aventi\OrderComment\Model\OrderCommentManagement"/>
	<preference for="Aventi\OrderComment\Api\Data\OrderCommentInterface" type="Aventi\OrderComment\Model\Data\OrderComment"/>
</config>
