<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Aheadworks\Ctq\Controller\Adminhtml\Quote\Save">
        <plugin name="aventi_sap_quote_update" type="Aventi\SAP\Plugin\Aheadworks\Ctq\Controller\Adminhtml\Quote\Save" sortOrder="1" />
    </type>
</config>
