<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fbuilder>
			<general>
				<is_enabled>1</is_enabled>
			</general>
		</fbuilder>
		<themesettings>
			<header>
				<display_top_header>1</display_top_header>
			</header>
		</themesettings>
		<themesettings>
			<category>
				<product_hover_effect>effect1</product_hover_effect>
			</category>
		</themesettings>
    </default>
</config>
