<div class="magenest-popup-step">
    <div class="popup-step-1">
        <div class="popup-bg"></div>
        <div class="popup-content">
            <div class="popup-title">How have you survived without this secret list of
                <strong class="title-label">17 life-changing</strong>
                <strong class="bottom">Makeup hacks?</strong>
            </div>
            <div class="popup-description">
                <span>Enter your email to unlock the list</span>
            </div>
            <div class="popup-action">
                <div class="popup-name">
                    <input type="text" class="popup-newsletter" placeholder="Name and surname" required="" name="name"
                           value="" id="form-popup-name">
                </div>
                <div class="popup-email">
                    <input name="email" class="popup-newsletter" type="email" id="popup-newsletter"
                           placeholder="E-mail"/>
                </div>
                <button id="popup-submit-button" class="action subscribe primary" title="Subscribe" type="submit">
                <span>Unlock now!<span>
                </button>
            </div>
        </div>
    </div>
</div>