<div class="magenest-popup-step">
    <div class="popup-title">
        <span> Contact us</span>
    </div>
    <div class="popup-step-1">
        <div class="popup-bg">
            <div class="bg-images"></div>
        </div>
        <div class="popup-content">
            <div class="popup-description">
                <span>Have any questions?Don't be shy</span>
            </div>
            <div class="popup-action">
                <div class="popup-action-phone">
                    <p>Give us a call</p>
                    <span>0998688767</span>
                </div>
                <div class="popup-action-elm">
                    <p>Monday - Saturday </p>
                    <p>8.00 - 21.00</p>
                </div>
                <div class="popup-action-elm">
                    <p>Sunday and Public Holidays </p>
                    <p>10.00 - 21.00</p>
                </div>
            </div>
        </div>
    </div>
</div>