<div class="magenest-popup-step">
    <div class="popup-step-1">
        <div class="popup-content">
            <div class="popup-title">
                <p>Contact Us.</p>
            </div>
            <div class="popup-action">
                <div class="popup-action-elm">
                    <p class="popup-action-title name">Your name</p>
                    <input class="popup-newsletter" type="text" name="name" placeholder="Your name"/>
                </div>
                <div class="popup-action-elm">
                    <p class="popup-action-title email">Your email</p>
                    <input class="popup-newsletter" type="email" name="email" placeholder="Your email"/>
                </div>
                <div class="popup-action-elm">
                    <p class="popup-action-title message"><span>Message</span></p>
                    <textarea placeholder="Your message" required="" name="msg" class="popup-newsletter"></textarea>
                </div>
                <button id="popup-submit-button" title="Subscribe">
                    <strong>Submit</strong>
                </button>
            </div>
            <div class="action-social">
                <div class="social-elm social-face">
                    <button>
                        <a href="https://www.facebook.com/">
                            <span><i class="fa fa-facebook-square" aria-hidden="true"><span
                                    class="text-label">facebook</span> </i></span>
                        </a>
                    </button>
                </div>
                <div class="social-elm social-twitter">
                    <button>
                        <a href="https://twitter.com/">
                            <span><i class="fa fa-twitter-square" aria-hidden="true"><span
                                    class="text-label">twitter</span> </i></span>
                        </a>
                    </button>
                </div>
                <div class="social-elm social-instagram">
                    <button>
                        <a href="https://www.instagram.com/">
                            <span><i class="fa fa-instagram" aria-hidden="true"><span
                                    class="text-label">instagram</span> </i></span>
                        </a>
                    </button>
                </div>
                <div class="social-elm social-google">
                    <button>
                        <a href="https://www.google.com.vn/">
                            <span><i class="fa fa-google-plus-square" aria-hidden="true"><span
                                    class="text-label">google</span> </i></span>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>