<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Aventi_PickUpWithOffices::Office" sortOrder="10" title="Office">
					<resource id="Aventi_PickUpWithOffices::Office_save" sortOrder="10" title="Save Office"/>
					<resource id="Aventi_PickUpWithOffices::Office_delete" sortOrder="20" title="Delete Office"/>
					<resource id="Aventi_PickUpWithOffices::Office_update" sortOrder="30" title="Update Office"/>
					<resource id="Aventi_PickUpWithOffices::Office_view" sortOrder="40" title="View Office"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
