<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<carriers>
			<pickup>
				<model>Aventi\PickUpWithOffices\Model\Carrier\PickUp</model>
				<active>0</active>
				<title>PickUp</title>
				<name>PickUp</name>
				<price>0.00</price>
				<specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
				<sallowspecific>0</sallowspecific>
			</pickup>
		</carriers>
		<payment>
			<pointofsalepayment>
				<active>1</active>
				<model>Aventi\PickUpWithOffices\Model\Payment\PointOfSalePayment</model>
				<order_status>pending</order_status>
				<title>PointOfSalePayment</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</pointofsalepayment>
		</payment>
	</default>
</config>
