<!--@subject {{trans 'Updated Quote %quote_name' quote_name=$quote.getName()}}@-->
{{template config_path="design/email/header_template"}}

<p>
    {{trans 'Dear %user_name,' user_name=$user_name}}<br />
    {{trans
        'The Quote <a href="%quote_url">%quote_name</a> has been updated. Please, see below.'
        quote_url=$quote_url quote_name=$quote.getName()
    |raw}}
</p>
{{layout handle="aw_ctq_email_quote_changes" history=$history is_email_for_seller=$is_seller store_id=$quote.getStoreId() area="frontend"}}

{{layout handle="aw_ctq_email_quote_details" quote=$quote store=$store area="frontend"}}

{{template config_path="design/email/footer_template"}}
