<div class="magenest-popup-step">
    <div class="popup-step-1">
        <div class="popup-content">
            <div class="popup-title">Leaving so soon?</div>
            <div class="popup-description">Get 25% off your order if you buy now!</div>
            <div class="popup-coupon">Use coupon code:<span id="coupon">KHFGY19J</span></div>
            <div class="popup-action">
                <div class="action-yes" id="yesbutton">
                    <button id="popup-action-yes" class="yes">Sure. Let's go!<span>Get Coupon Code</span></button>
                </div>
                <div class="action-no" id="nobutton">
                    <button id="popup-action-no" class="no">No, thank you<span>I prefer paying full price</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>