<div class="magenest-popup-step">
    <div class="popup-step-1">
        <div class="popup-content">
            <div class="popup-title">Are you Ready?</div>
            <div class="popup-description">Do youknow that Layered Popups is the best popups plugin for Magento? It's
                true. Make your website more attractive.
            </div>
            <div class="popup-action">
                <div class="action-yes" id="yesbutton">
                    <button id="popup-action-yes" class="yes">Yes</button>
                </div>
                <div class="action-no" id="nobutton">
                    <button id="popup-action-no" class="no">No</button>
                </div>
            </div>
        </div>
    </div>
</div>