<?xml version="1.0"?>
<!--
/**
* Copyright 2020 aheadWorks. All rights reserved.
See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_after">
        <observer name="aw_cl_customer_model_save_commit_after" instance="Aheadworks\CreditLimit\Observer\Customer\CustomerModelSaveCommitAfter"/>
    </event>
</config>