<h3><!-- ko i18n: 'Details of delivery'--><!-- /ko --></h3>
<p><!-- ko i18n: 'Share with us some details to keep in mind when delivering your order:'--><!-- /ko --></p>

<div class="payment-option-content" data-role="content">
    <form class="form form-discount order-comment-form">
        <div class="payment-option-inner">
            <div class="field">
                <label class="label">
                    <span data-bind="i18n: 'Enter comment'"></span>
                </label>
                <div class="control">
                    <textarea class="input-text order-comment" name="comment-code" rows="4" data-bind="attr:{placeholder: $t('Enter your comment...')} "  maxlength="150"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
