<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Aventi\Imagen\Api\ImagenRepositoryInterface" type="Aventi\Imagen\Model\ImagenRepository"/>
	<preference for="Aventi\Imagen\Api\Data\ImagenInterface" type="Aventi\Imagen\Model\Data\Imagen"/>
	<preference for="Aventi\Imagen\Api\Data\ImagenSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="Image" xsi:type="object">Aventi\Imagen\Console\Command\Image</item>
			</argument>
		</arguments>
	</type>
</config>
