<?xml version="1.0"?>
<!--
/**
* Copyright 2020 aheadWorks. All rights reserved.
See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_after_data_object">
        <observer name="aw_cl_customer_repository_save_after" instance="Aheadworks\CreditLimit\Observer\Customer\CustomerRepositorySaveAfter"/>
    </event>
    <event name="adminhtml_customer_save_after">
        <observer name="aw_cl_customer_save_after" instance="Aheadworks\CreditLimit\Observer\Customer\SaveAfterObserver"/>
    </event>
    <event name="payment_method_is_active">
        <observer name="aw_cl_payment_availability_checker" instance="Aheadworks\CreditLimit\Observer\Payment\RestrictCreditLimitUsageObserver"/>
    </event>
    <event name="payment_method_assign_data_aw_credit_limit">
        <observer name="aw_cl_payment_method_assign_data" instance="Aheadworks\CreditLimit\Observer\Payment\PaymentMethodAssignDataObserver"/>
    </event>
    <event name="sales_order_payment_cancel">
        <observer name="aw_cl_order_payment_cancel" instance="Aheadworks\CreditLimit\Observer\Payment\OrderPaymentCancelObserver" />
    </event>
</config>